

.j {
    font-size: 15px;
    color: #2F3335;
}

.log {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    font-size: 18px;
    width: 100%;
    height: 30%;
    color: #fff;
    background-color: inherit;
}

body {
    background-color: #1C1F25;
    color: white;
    font-family: Calibri, Helvetica, 'Sans-Serif';
}

.btn {
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    line-height: 40px;
    min-width: 75px;
    border-radius: 16px;
    width: 70%;
    background-color: #5a5a69;
    border: none;
    color: #fff;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #c2c2c2;
    color: #303030;
}

a:active,
a:focus {
    outline: 0;
    border: none;
}

.secondary-text {
    color: #959595;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
}


.payload-name {
    line-height: 32px;
    font-weight: bolder;
}


.payload-description {
    color: #d1cfcf;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 22px;
    font-size: 15px;
}

.btn:hover p.payload-description {
    color: #666;
}

.payload-author {
    color: #777;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 0px;
    font-size: 0px;
    font-weight:normal;
}

.info a {
    color: #e3e3e3;
}

.info {
    color: #a1a1a1;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.d-none {
    display: none !important;
}

.opacity-transition {
    transition: opacity 0.3s ease-in-out;
}

.hidden-btn {
    padding: 0;
    visibility: collapse;
}

.grid-container a p {
    margin: 0;
    padding: 0;
}


#toast-container {
    position: fixed;
    top: 35px;
    right: 20px;
    z-index: 9999;
}

.toast {
    background: #0F0F21;
    color: #fff;
    padding: 30px 35px;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 300px;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.hide {
    opacity: 0;
    transform: translateY(-100%);
}
