html {
    background-image: url('img.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #24272b;
    color: white;
    text-align: center;
    overflow: hidden;
}

h1 {
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 25px;
    color: white;
}

a {
    text-decoration: none;
}

#console {
    display: none;
}